---
layout: default
title: Orikan's Blog
pageclass: layoutDefault 
---
  <!-- input header of site -->
  {% include header.html %}
  <div class="bg-content">
  <div class="container">
  <div class="row">
  <div class="col-xs-10 content">
  <div class="row">
     <div class="col-xs-8">
       <div class="content-left">
	{% include home.content.html %}
       </div>
     </div>
     <div class="col-xs-4">
      <div class="content-right">
	{% include post-list.content.html %}
      </div>
     </div>
  </div>
  </div>        
<!-- slider -->
     <!--div class="slider-wrapper flexslider main-banner">
	<ul class="slider-content slides">
	  <li class="image"><img src="assets/img/slide1.jpg"></li>
	  <li class="image"><img src="assets/img/slide2.jpg"></li>
	  <li class="image"><img src="assets/img/slide3.jpg"></li>
	  <li class="image"><img src="assets/img/slide4.jpg"></li>
	  <li class="image"><img src="assets/img/slide5.jpg"></li>
	</ul>
     </div-->
  </div>
  </div>
  </div>
  </div>
{% include page-foot.html %}
