<header class="my-navbar">
<nav class="nav navbar c-navbar">
<div class="container">
  <div class="row">
  <div class="col-xs-10 middle-nav">
  <div class="navbar-header header-title">
     <h1><a href="./">{{ site.name }}</a></h1>
     <button type="button" class="navbar-toggle navtoggle-style" data-toggle="collapse" data-target="#navbar" aria-controls="navbar">
       <span>^</span> 
     </button>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav" id="navbar-nav">
	<li><a href="./">Home</a></li>
	<li><a href="./">Blog</a></li>
	<li><a href="./">Work</a></li>
	<li><a href="./">Contact</a></li>
    </ul>
  </div>
  </div>
  </div>
</div>
</nav>
</header>
