<!DOCTYPE html>
<html>
<head>
  <meta charset="uft-8">
  <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
  <meta name=viewport content="width=device-width, initial-scale=1"> 
  <meta name=description content="{{ site.bio }}">
  <meta name=author content="{{site.name}}">
  <title> {{ page.title }}</title>
  {% include inputcss.html %}
</head>
<body>
<div class="bg-content">
  <button id="blogHead" title="return to home" href="{{ site.url }}"><h1 style="margin: 0;padding: 0;">{{ site.name }}</h1></button>
  <script>
  document.getElementById("blogHead").onclick=function() {
   window.open('{{site.url}}', '_self');
};
  </script>
  <div class="container">
  <div class="row">
  <div class="col-xs-9">
  <article class="myArticle">
	<div class="posthead">
	  <h1>{{ page.title }}</h1>
	  <em>{{ site.name }}</em>
	  <span>{{ page.date | date_to_string }}</span>
	  <i></i>
	</div>

	{{ content }}

  </article>
  
 </div>
  <div class="col-xs-3">
  <div class="content-right">
  {% include post-list.content.html %}
  </div>
  </div>
</div>
</div>
</div>
</body>
</html>
